nav {
  background-color: #ea4127;
}

.unidiversity-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  text-decoration: none;
  color: #fff;
}

h1 {
  color: #fff;
  color-adjust: exact;
  text-shadow: 2px 2px #000;
}

.banner-content {
  padding: 6rem 1.5rem 4rem 1.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/vasily-koloda-8CqDvPuo_kI-unsplash.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-box {
  background-color: rgba(220, 220, 220, 0.8);
  border-radius: 10px;
  margin: 0 0 16px 0;
}

.banner-search-btn {
  background-color: #ea4127;
  color: #fff;
}

.inner-workings h2 {
  color: #ea4127;
  text-align: center;
  font-size: 1.25rem;
  padding: 3rem 0 0 0;
}

.working-icon {
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.inner-workings h3 {
  padding-bottom: 1.5rem;
  text-align: center;
}

.working-block {
  padding: 0 2rem;
  text-align: center;
}

.black-bar {
  background-color: #000;
}

.gray-bar {
  background-color: gray;
}

/* List Items page */

.search-form {
  background-color: rgb(252, 221, 226);
  margin: 2rem;
  padding: 1.5rem;
}

.search-form h1 {
  color: #666;
  font-size: 1.25rem;
  color-adjust: exact;
  text-shadow: none;
  text-align: center;
  padding-top: 1rem;
}

.list-items img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .search-box {
    width: 75%;
    margin: 2rem auto;
  }

  .navbar-social-icons {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .search-box {
    width: 50%;
    margin: 2rem auto;
  }
}
